<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestPoint | Add New Place</title>
</head>
<body>
    <h1>Add New Place</h1>
    <form action="/places" method="post">
        <div>
            <Label for="title">Title</Label>
            <input type="text" name="place[title]" id="title" placeholder="Title" required>
        </div>

        <div>
            <Label for="location">Location</Label>
            <input type="text" name="place[location]" id="location" placeholder="Location" required>
        </div>

        <div>
            <Label for="price">Price</Label>
            <input type="text" name="place[price]" id="price" placeholder="Price" required>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>