<% layout('layouts/app') %>

<h1>Update New Place</h1>
<form action="/places/<%= place._id %>?_method=PUT" method="post">
    <div>
        <Label for="title">Title</Label>
        <input type="text" name="place[title]" id="title" value="<%= place.title %>" required>
    </div>

    <div>
        <Label for="location">Location</Label>
        <input type="text" name="place[location]" id="location" value="<%= place.location %>" required>
    </div>

    <div>
        <Label for="price">Price</Label>
        <input type="text" name="place[price]" id="price" value="<%= place.price %>" required>
    </div>
    <button type="submit">Save</button>
</form>
